// section style
.section {
  @apply py-16;
}

// container
.container {
  @apply mx-auto max-w-[1380px] px-3;

  &-xl {
    @apply mx-auto max-w-[1440px] px-3;
  }
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

// social icon style
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply block h-11 w-11 rounded-full border text-center transition-all duration-300 hover:border-primary hover:text-primary;

      svg {
        @apply m-auto h-11;
      }
    }
  }
}

// notice
.notice {
  .notice-body {
    p {
      @apply my-0 text-[#666666];
    }
  }

  &.note {
    .notice-head {
      @apply bg-[#6ab0de];
    }
    .notice-body {
      @apply bg-[rgb(227,244,255)];
    }
  }

  &.tip {
    .notice-head {
      @apply bg-[#78c578];
    }
    .notice-body {
      @apply bg-[#e2ffe2];
    }
  }

  &.info {
    .notice-head {
      @apply bg-[#f0b37e];
    }
    .notice-body {
      @apply bg-[#ffedde];
    }
  }

  &.warning {
    .notice-head {
      @apply bg-[#e06f6c];
    }
    .notice-body {
      @apply bg-[#ffdad8];
    }
  }
}

.active-tab {
  @apply bg-theme-light;
}

// form style
.form-input,
.form-textarea {
  @apply rounded  border border-primary border-transparent border-l-primary bg-theme-light py-4 focus:border focus:border-primary focus:ring-transparent;
}

// content style
.content {
  @apply text-base;
  @apply prose max-w-none;
  @apply prose-headings:mb-[.9em] prose-headings:mt-[.5em] prose-headings:font-semibold prose-headings:text-dark;
  @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-hr:border-border;
  @apply prose-p:text-base;
  @apply prose-blockquote:px-4 prose-blockquote:py-1 prose-blockquote:text-dark;
  @apply prose-code:px-1 prose-code:text-primary;
  @apply prose-pre:rounded-xl;
  @apply prose-strong:text-dark;
  @apply prose-a:text-primary prose-a:no-underline hover:prose-a:underline;
  @apply prose-li:text-text;
  @apply prose-table:overflow-hidden prose-table:border prose-table:border-border;
  @apply prose-thead:border-border prose-thead:bg-theme-light prose-th:px-4 prose-th:py-4 prose-th:text-dark;
  @apply prose-tr:border-border;
  @apply prose-td:px-3 prose-td:py-4;
  // @apply prose-ul:text-base prose-li:text-base;
  @apply prose-img:rounded-xl;

  blockquote > p {
    @apply my-4 text-xl;
  }
}

.bg-theme {
  @apply relative -z-[1] h-full rounded-2xl  bg-contain  bg-[50%];

  &::before {
    @apply absolute left-0 top-0 -z-[1] h-full w-full scale-[.3] rounded-[30px] bg-[#E6F7FF] bg-contain bg-no-repeat transition-transform duration-[1500ms] ease-[cubic-bezier(.105,.84,.44,1)] content-[''];
  }

  &::after {
    @apply absolute -z-[1] h-full w-full bg-contain bg-[0_center] bg-no-repeat content-[''];
    background-image: none; 
    }

  &.bg-animate::before {
    transform: scale(1);
  }
}

.pagination {
  .swiper-pagination-bullet {
    @apply h-[15px] w-[15px];

    &-active-main {
      @apply bg-primary;
    }
  }
}

//banner
.banner {
  .bg-theme {
    @apply h-[calc(50%_+_160px)];

    .bg-theme::before {
      @apply h-[95%] scale-100 bg-theme-light bg-[0_50px];
      background-image: none;    }
    
    .bg-theme::after {
      @apply left-0 bg-[length:50%] bg-[100%_0];
      background-image: none;    }
  }

  &-single {
    .banner-wrapper {
      @apply py-[120px];
    }

    .bg-theme {
      @apply h-full w-full;
    }
  }
}

//section-title
.section-title {
  @apply relative;

  &::after {
    @apply absolute -bottom-4 left-1/2 h-1 w-[70px] -translate-x-1/2 rounded-[30px] bg-primary content-[""];
  }

  &.bar-left::after {
    @apply left-0 translate-x-0;
  }
}

//feature-card
.feature-card {
  &-icon {
    @apply relative  overflow-hidden;

    &::before {
      @apply absolute left-0 top-0 -z-[1] h-0 w-full bg-theme-light transition-all duration-300 content-[""];
    }
  }

  &:hover &-icon::before {
    @apply bottom-0 top-auto h-full;
  }
}

//testimonial
.testimonial-slider {
  background-image: url("data:image/svg+xml,%3Csvg width=%22462%22 height=%22458%22 viewBox=%220 0 462 458%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22M36.9901 53.2939C8.66553 90.8729-.680565 197.569.0380893 247.72 3.02596 456.228 136.937 460.573 283.124 457.125 406.681 454.211 459.969 401.82 461.426 261.777 462.591 149.742 432.9 78.8779 413.134 60.3019 326.242-21.359 89.5954-16.4987 36.9901 53.2939z%22 fill=%22%23007BFF%22/%3E%3C/svg%3E");
  @apply h-full bg-contain bg-[center_top] bg-no-repeat;
}

//footer
.footer-copy-write {
  a {
    @apply underline;

    &:hover {
      @apply hover:text-primary;
    }
  }
}

//intro
.intro-play-btn {
  @apply shadow-[0_0px_0px_0px_rgba(254,96,25,0.6)] transition-all duration-300 hover:scale-105;
  animation: shadowPulse 1.8s infinite;

  &::before {
    @apply absolute left-0 top-0 h-full w-full rounded-full shadow-[0_0px_0px_0px_rgba(254,96,25,0.8)] content-[''];
    animation: shadowPulse2 1.8s infinite;
  }
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(254, 96, 25, 0.6);
  }
  70% {
    box-shadow: 0 0 0 25px rgba(254, 96, 25, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(254, 96, 25, 0);
  }
}

@keyframes shadowPulse2 {
  0% {
    box-shadow: 0 0 0 0 rgba(254, 96, 25, 0.8);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(254, 96, 25, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(254, 96, 25, 0);
  }
}

//fade
// .fade-up, .fade-left {
//   opacity: 0;
// }

// .fade-left {
//   opacity: 0;
// }
